

{% extends 'base.html.twig' %}

{% block body %}
   <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h1>valami</h1>
            <table class="table table-striped">

            </table>
        </div>
   </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
